// ===================================
// header
// ===================================
#logo
  color: #158cba
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight: bold
  font-size: 26px
  line-height: 2em

#user_icon
  width: 24px
  height: 24px
  border-radius: 6px
  margin-right: 7px

// ===================================
// main
// ===================================
#main
  width: 900px
  margin: 80px auto 0

#user_big_icon
  width: 60px
  height: 60px
  border-radius: 8px
  margin-right: 15px

// ===================================
// footer
// ===================================
footer
  background-color: #158cba
  border-bottom: 5px solid #127ba3
  text-align: center
  padding: 20px 0
  color: #FFFFFF

  #recommend
    margin: 10px auto 30px
    li
      float: right
      width: 120px
      &.fb
        width: 110px

  a
    color: #FFFFFF
    text-decoration: underline
    &:hover
      color: #DDDDDD

// ===================================
// common
// ===================================
.mt5
  margin-top: 5px
.mr5
  margin-right: 5px
.ml5
  margin-left: 5px
.mb5
  margin-bottom: 5px
.mt7
  margin-top: 7px
.mr7
  margin-right: 7px
.ml7
  margin-left: 7px
.mb7
  margin-bottom: 7px
.mt10
  margin-top: 10px
.mr10
  margin-right: 10px
.ml10
  margin-left: 10px
.mb10
  margin-bottom: 10px

.cf
  *zoom: 1
  &:before, &:after
    content: " "
    display: table
  &:after
    clear: both

// ===================================
// control
// ===================================
table.table
  margin-bottom: 30px

  a
    text-decoration: none !important
  th
    text-align: center
    font-size: 0.75em
    color: #777777

  td
    text-align: center
    vertical-align: middle !important

.fa
  margin-right: 10px
