@import 'bootstrap'

#nav_sub
  position: fixed
  top: 48px
  left: 0
  width: 100%
  text-align: center
  padding: 15px 0
  background-color: #DDDDDD

#main
  width: 1000px
  margin: 120px auto 0

.mr10
  margin-right: 10px

